[submodule "excons"]
	path = excons
	url = git://github.com/gatgui/excons.git
[submodule "gcore"]
	path = gcore
	url = git://github.com/gatgui/gcore.git
[submodule "pygl"]
	path = pygl
	url = git://github.com/gatgui/pygl
